services:
  express:
    image: "node:17"
    ports: 
      - "3000:3000"
    volumes: 
      - .:/app
    working_dir: 
      - /app
    command:
      - "npm start"
  tunnel:
    image: "node:17"
    volumes:
      - ../localtunnel-node:/app
    working_dir:
      - /app
    command:
      - "npm start"

networks:
  default:
    external: true
    name: boilerplate
    